#product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.product {
  background-color: #e7dddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
}

.product h2 {
  word-wrap: break-word;
  text-align: center;
  font-size: 18px;
  margin: 10px 0;
  color: #201a1a;
  min-width: calc(25% - 20px);
  text-decoration: none;
}

.product h3 {
  text-decoration: none;
  word-wrap: break-word;
  text-align: center;
  font-size: 18px;
  margin: 10px 0;
  color: #201a1a;
  min-width: calc(25% - 20px);

}

.product p {
  text-decoration: none;
  word-wrap: break-word;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.image-container img {
  flex-shrink: 0;
  min-width: 90%;
  min-height: 100%;
  object-fit: contain;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

.slideshow-container {
  margin-top: 10%;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 30%;
  padding-top: 0%;
  margin-top: 0%;
  overflow: hidden;
}

.slideshow-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top; /* This will display only the top half */
}

.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.dot-container span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
}

.dot-container span.active {
  background-color: #555;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  min-height: 80vh;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), 
  rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  backdrop-filter: blur(10rem);
}

.loginInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px; /* increased space between elements */
  width: 70%; /* width of the element is set to 70% of its parent */
}

.loginInfo > * {
  margin: 10px 0;
}

img {
  height: 30%;
  width: 30%;
}

/* Basic button style with space on the sides */
button {
  margin: 3px;
  display: inline-block;
  padding: 10px 20px; /* Adjust the values to increase or decrease the space on the sides */
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #0056b3;
}

.button.active {
  background-color: #0056b3;
}