body {
  font-family: Arial, sans-serif;
  background-color: #d1b284;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  width: 90%;
}

.product {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: calc(25% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.product h2, .product p {
  word-wrap: break-word;
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.product h2 {
  text-align: center;
  font-size: 18px;
  margin: 10px 0;
}

.product p {
  text-align: center;
  font-size: 14px;
  color: #333;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.image-container img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}


h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 10vh;
}